            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            :root { /* Light Theme Colors */
                --primary-color: #8eb8ea;
                --secondary-color: #7097c6;
                --background-color: #fff;
                --text-color: #1e1e1e;
                --link-color: #8eb8ea;
                --accent-color: #e7c65e;
                --link-hover-color: #E86F68;
                --hotkey-bg-color: #9db1d1;
            }

            [dark-theme="dark"] { /* Dark Theme Colors */
                --primary-color: #2b3a67;
                --secondary-color: #1e2a4d;
                --background-color: #121212;
                --text-color: #e0e0e0;
                --link-color: #4a90e2;
                --accent-color: #f5a623;
                --link-hover-color: #E86F68;
                --hotkey-bg-color: #3a4a6d;
            }

            /* Basic Body, Header, and Link Styles */
            body { 
                font-family: poppins, sans-serif;
                line-height: 1.6;
                background-color: var(--background-color);
                color: var(--text-color);
                padding: 2rem;
                margin-left: 15rem;
            }
            header {
                background-color: var(--secondary-color);
                background-image: url(assets/white-paper-texture.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-blend-mode: overlay;
                background-position: center;
                color: rgb(19, 18, 47);
                font-family: playfair display, serif;
                font-size: 1.7rem;
                padding: 1.5rem;
                text-align: center;
                border: 2px solid white;
            }
            footer{
                width:100%;
                background-color: var(--secondary-color);
                color: rgb(0, 0, 0);
                padding: 1rem;
                border-top: 2px solid #f1eaea;
                padding:2.5rem;
                min-height: calc(100vh-80px);
                background: rgb(247, 244, 244);
            }
            /* LINKS */
            a {
                text-decoration: none;
                background-color: var(--link-color);
            }
            a:hover {
                text-decoration: underline;
                background-color: var(--link-hover-color);
            }

            /* Sidebar Navigation */
            .sidebar {
                position: fixed;
                top: 0;
                left: 0;
                width: 260px;
                height: 100vh;
                background-color: var(--secondary-color);
                padding-top: 2rem;
                box-shadow: 2px 0 5px rgba(0,0,0,0.1);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            .sidebar ul {
                list-style: none;
                width: 100%;
                margin-top: 1rem;
            }
            .sidebar ul li a{
                display: block;
                padding: 1rem;
                font-weight: bolder;
                color: var(--text-color);
                text-decoration: none;
                letter-spacing: 1px;
                border-bottom: 1px solid white;
                transition: background-color 0.4s ease, color .3s ease;   
            }
            .sidebar ul li a:hover {
                background-color: var(--accent-color);
                color: #141414;
                transform: scale(1.05);
            }
            #intro { /* Universally used to explain what each section is about */
                text-align: center;
                margin-bottom: 1.3rem;
                padding: 2rem 1rem;
                background-color: #f4f1ef;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            }
            #intro h3 {
                margin-bottom: 10px;
                font-size: 2rem;
                color: #141414;
            }
            #intro p {
                font-size: 1.2rem;
                max-width: 600px;
                margin: 0 auto;
            }
            .contentSection { /* Sections like History, Significance, Innovators; Exhibit; Types of Folds, Tools; and References*/
                margin-bottom: 2rem;
                padding: 2rem 3rem;
                max-width: 2000px;
                background-color: var(--background-color);
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0,0,0,0.1);
                line-height: 1.8;
            } 
            /* Hotkeys */
            .hotkeys {
                margin-top: 2rem;
                padding: 1rem;
                background-color: var(--hotkey-bg-color);
                border-radius: 5px;
                width: 95%;
            }
            .hotkeys h4 {
                margin-bottom: 0.5rem;
                color: black;
                text-align: center;
            }
            .hotkeys ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
            .hotkeys ul li {
                margin-bottom: 0.5rem;
                text-align: left;
            }
            .hotkeys ul li p {
                color: black;
                font-size: 0.75rem;
            }
            kbd {
                background-color: #e0e0e0;
                border: 1px solid #b0b0b0;
                border-radius: 3px;
                box-shadow: 0 1px 0 rgba(0,0,0,0.2);
                color: #333333;
                display: inline-block;
                font-size: 0.67rem;
                padding: 1px 2px;
                margin: 0 1px;
            }
            #finalMessage {
                text-align: center;
                font-size: 1.3rem;
                margin: 2rem 0;
                padding: 1.5rem;
                background-color: #f4f1ef;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            }

            #finalMessage > p {
                margin-bottom: 1rem;
                font-weight: bold;
            }

            #finalMessage > p:last-child {
                font-style: italic;
                font-family:playfair display, serif;
            }
             
            #footerlogoimg {
                display:flex;
                justify-content: center;
                margin-top: 1rem;
                align-items: center;
                height: auto;
            }

